{% extends "base.html" %}
{%load static%}
{% block content %}
<div class="content-section profile">
  <div class="media profile-info">
    <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
    <div class="media-body">
      <h2 class="account-heading">{{ user.username }}</h2>
      <p class="text-secondary">{{ user.email }}</p>
      <div>
        <a class="" href="{% url 'logout' %}">Logout</a>
      </div>
    </div>
  </div>

  <fieldset class="form-group">
    <legend class="border-bottom mb-4">Edit your profile</legend>
    <form method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      {{ u_form }}
      {{ p_form }}
      <div class="form-group">
        <button class="btn btn-outline-info" type="submit">Обновить</button>
      </div>
    </form>

  </fieldset>
</div>

{% endblock content %}