.product-card{
  margin: 10px;
  padding: 20px ;
  box-shadow: 5px 5px 10px rgba(118, 118, 118, 0.518);
  flex: 0 1 200px;
}
.category-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}
.price{
  color: #FFC107;
  font-size: 20px;
}
a{
  transition: .5s;
}