.alert{
  position: absolute!important;
  top: 100px!important;
  left: 40%!important;
}
.close-alert{
  font-weight: bold;
  cursor: pointer;
  margin-bottom: -20px;
  position: relative;
  top: -15px;
  left: 120px;
}

.black-link{
  color: rgb(55, 55, 55);
}
.content-section{
  display: flex;
  max-width: 1000px;
  margin: auto;
  justify-content: space-evenly;
  padding: 50px;
}
.product-info{
  display: flex;
  flex-direction: column;
  /* max-width: 500px; */
}
.prod-price{
  color: blue;
  font-weight: bold;
  font-size: 30px;
}
.filter-list a{
  color: #000;
}
.hero-carousel__slide>div{
  position: relative;
  opacity: 0;
  padding: 10px;
  transition: .5s;
}
.hero-carousel__slide:hover >div{
  transform: translateY(-100px);
  opacity: 1;
  z-index: 10;

}