{%extends 'base.html'%}
{%load static%}
{%block active_submenu%}active{%endblock%}
{%block content%}
<!-- ================ start banner area ================= -->	
<!-- ================ end banner area ================= -->


<!--================Checkout Area =================-->
<section class="checkout_area section-margin--small">
  <div class="container">
      <div style="padding: 40px 20px;" class="billing_details">
          <div class="row">
              <div class="col-lg-8">
                  <h3 style="font-size: 30px; color: #777;" >Add new product</h3>
                    <form class="row contact_form" action="#" method="POST">
                        {% csrf_token %}
                      <div class="col-md-6 form-group p_star">
                          <input class="form-control" type="text" name="prod_name" maxlength="200" required id="id_prod_name" placeholder="Product Title">
                      </div>
                      <div class="col-md-6 form-group p_star">
                          <input type="number" class="form-control" id="id_prod_price" name="prod_price" placeholder="Product Price">
                      </div>
                      <div class="col-md-12 form-group p_star">
                          <select class="category" name="category" id="id_category">
                            <option value="Not Chosen" selected>Category</option>
                            <option value="Building Supplies">Building Supplies</option>
                            <option value="Tools">Tools</option>
                            <option value="Electrics">Electrics</option>
                            <option value="Engineering Systems">Engineering Systems</option>
                          </select>
                      </div>
                      <div class="col-md-12 form-group mb-0">
                          <textarea class="form-control" name="prod_description" rows="1" maxlength="2000" required id="id_prod_description" placeholder="Product Description"></textarea>
                      </div>
                      <div class="product-image">
                        <input type="file" name="prod_image" accept="image/*" enctype="multipart/form-data"
                        id="id_prod_image">
                      </div>
                      
                      <div class="form-group">
                        <button class="button button-paypal" type="submit">Save</button>
                      </div>
                    </form>
              </div>

          </div>
      </div>
  </div>
</section>
<!--================End Checkout Area =================-->

{%endblock%}