{%extends 'base.html'%}
{%load static%}
{%block active_submenu%}active{%endblock%}
{%block content%}
	
	<!-- ================ start banner area ================= -->	
	<section class="blog-banner-area" id="blog">
		<div class="container h-100">
			<div class="blog-banner">
				<div class="text-center">
					<h1>Shop Single</h1>
					<nav aria-label="breadcrumb" class="banner-breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Shop Single</li>
            </ol>
          </nav>
				</div>
			</div>
    </div>
	</section>
	<!-- ================ end banner area ================= -->

	<div class="product_image_area">
		<div class="container">
			<div class="row s_product_inner">
				<div class="col-lg-6">
							<img class="img-fluid" width="400" src="{{ object.prod_image.url }}" alt="">
						<!-- <div class="single-prd-item">
							<img class="img-fluid" src="img/category/s-p1.jpg" alt="">
						</div>
						<div class="single-prd-item">
							<img class="img-fluid" src="img/category/s-p1.jpg" alt="">
						</div> -->
				</div>
				<div class="col-lg-5 offset-lg-1">
					<div class="s_product_text">
						<p><img class="rounded-circle article-img" width="71" src="{{ object.author.profile.image.url }}">
							<a class="black-link" href="{% url 'user-products' object.author.username %}">@{{ object.author }}'s</a></p>
						<h3>{{ object.prod_name }}</h3>
						<h2>${{ object.prod_price }}</h2>
						<ul class="list">
							<li><a class="active" href="#"><span>Category</span> : {{ object.category }}</a></li>
							<li><a href="#"><span>Availibility</span> : In Stock</a></li>
							<small class="text-muted">{{ object.prod_date|date:"F d, Y" }}</small>
						</ul>
						<p>{{ object.prod_description }}</p>
						<div class="product_count">
              <label for="qty">Quantity:</label>
              <button onclick="var result = document.getElementById('sst'); var sst = result.value; if( !isNaN( sst )) result.value++;return false;"
							 class="increase items-count" type="button"><i class="ti-angle-left"></i></button>
							<input type="text" name="qty" id="sst" size="2" maxlength="12" value="1" title="Quantity:" class="input-text qty">
							<button onclick="var result = document.getElementById('sst'); var sst = result.value; if( !isNaN( sst ) &amp;&amp; sst > 0 ) result.value--;return false;"
               class="reduced items-count" type="button"><i class="ti-angle-right"></i></button>
			   {% if object in user.profile.orders.all %}
				<!-- add a button here to see the product -->
				You own this
				{% elif object in current_order_products %}
				<a href="{% url 'order_summary' %}" class="btn btn-warning">Go to Cart</a>
				{% else %}
				<a class="button primary-btn" href="{% url 'add_to_cart' object.id %}">Add to Cart</a>
				{% endif %}
				{% if object.author == user %}
				<div>
					<a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'product-update' object.id %}">Редактировать</a>
					<a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'product-delete' object.id %}">Удалить</a>
				</div>
				{% endif %}
       
						</div>
						<div class="card_area d-flex align-items-center">
							<a class="icon_btn" href="#"><i class="lnr lnr lnr-diamond"></i></a>
							<a class="icon_btn" href="#"><i class="lnr lnr lnr-heart"></i></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--================End Single Product Area =================-->

	<!--================Product Description Area =================-->

	<!--================End Product Description Area =================-->

	<!--================ end related Product area =================-->  	
{%endblock%}