{%extends 'base.html'%}
{%load static%}
{%block active_submenu%}active{%endblock%}
{%block content%}
	<!-- ================ start banner area ================= -->	
	<section class="blog-banner-area" id="category">
		<div class="container h-100">
			<div class="blog-banner">
				<div class="text-center">
					<h1>Shop Category</h1>
					<nav aria-label="breadcrumb" class="banner-breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Shop Category</li>
            </ol>
          </nav>
				</div>
			</div>
    </div>
	</section>
	<!-- ================ end banner area ================= -->


	<!-- ================ category section start ================= -->		  
  <section class="section-margin--small mb-5">
    <div class="container">
      <div class="row">
        <div class="col-xl-3 col-lg-4 col-md-5">
          <div class="sidebar-categories">
            <div class="head">Browse Categories</div>
            <ul class="main-categories">
              <li class="common-filter">
                <form action="#">
                  <ul>
                    <!-- {% for category in categories %}
                    <a href="{% url 'category' %}?q={{product.category}}"><li class="filter-list"><input class="pixel-radio" type="radio" id="men" name="brand"><label for="men">{{product.category}}<span> (3600)</span></label></li></a>
                    {% endfor %} -->

                    <li class="filter-list"><a href="{% url 'category' %}?q=">All</a></li>
                    <li class="filter-list"><a href="{% url 'category' %}?q=Building Supplies">Building Supplies</a></li>
                    <li class="filter-list"><a href="{% url 'category' %}?q=Tools">Tools</a></li>
                    <li class="filter-list"><a href="{% url 'category' %}?q=Electrics">Electrics</a></li>
                    <li class="filter-list"><a href="{% url 'category' %}?q=Engineering Systems">Engineering Systems</a></li>
                  </ul>
                </form>
              </li>
            </ul>
          </div>

        </div>
        <div class="col-xl-9 col-lg-8 col-md-7">
          <!-- Start Filter Bar -->
          <div class="filter-bar d-flex flex-wrap align-items-center">
            <div>
              <form method="GET" action="{% url 'category' %}"><div class="input-group filter-bar-search">
                <input type="text" name="q" placeholder="Search">
                <div class="input-group-append">
                  <button type="button"><i class="ti-search"></i></button>
                </div>
              </div></form>
            </div>
          </div>
          <!-- End Filter Bar -->
          <!-- Start Best Seller -->
          <section class="lattest-product-area pb-40 category-list">
            <div class="row">
              {% for product in products %}
              <!-- <div class="col-md-6 col-lg-4">
                <div class="card text-center card-product">
                  <div class="card-product__img">
                    <img class="card-img" src="{{ product.image.url }}" alt="">
                    <ul class="card-product__imgOverlay">
                      <li><button><i class="ti-search"></i></button></li>
                      <li><button><i class="ti-shopping-cart"></i></button></li>
                      <li><button><i class="ti-heart"></i></button></li>
                    </ul>
                  </div>
                  <div class="card-body">
                    <p>{{ product.category }}</p>
                    <h4 class="card-product__title"><a class="article-title  black-link " href="{% url 'product-detail' product.id %}">{{ product.prod_name }}</a></h4>
                    <p class="card-product__price">${{ product.prod_price }}</p>
                  </div>
                </div> -->

              <div class="product-card">
                <div class="media-body">
                  <img src="{{product.prod_image.url}}" width="200" />
                  <h2><a class="article-title  black-link " href="{% url 'product-detail' product.id %}">{{ product.prod_name }}</a></h2>
                  <p class="article-content">{{ product.prod_description }}</p>
                  <p class="article-content">{{ product.category }}</p>
                  <p class="article-content price">{{ product.prod_price }}$</p>
                </div>
              </div>
                {% endfor %}
                <div class="pagination justify-content-center">
                  {% if is_paginated %}

                    {% if page_obj.has_previous %}

                      <a class="btn btn-outline-info mb-4 mr-1" href="?page=1">Первая</a>
                      <a class="btn btn-outline-info mb-4 mr-1" href="?page={{ page_obj.previous_page_number }}">Предыдущая</a>
                    {% endif %}

                    {% for num in page_obj.paginator.page_range %}
                      {% if page_obj.number == num %}
                        <a class="btn btn-info mb-4 mr-1" href="?page={{ num }}">{{ num }}</a>
                      {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                        <a class="btn btn-outline-info mb-4 mr-1" href="?page={{ num }}">{{ num }}</a>
                      {% endif %}
                    {% endfor %}

                    {% if page_obj.has_next %}
                      <a class="btn btn-outline-info mb-4 mr-1" href="?page={{ page_obj.next_page_number }}">Следующая</a>
                      <a class="btn btn-outline-info mb-4 mr-1" href="?page={{ page_obj.paginator.num_pages }}">Последняя</a>
                    {% endif %}

                  {% endif %}
                </div>
              </div>
          </section>
          <!-- End Best Seller -->
        </div>
      </div>
    </div>
  </section>
	<!-- ================ category section end ================= -->		  

	<!-- ================ top product area start ================= -->	
	<!-- ================ top product area end ================= -->		

{%endblock%}