{%extends 'base.html'%}
{%load static%}

{%block active_home%}active{%endblock%}

{%block content%}
<main class="site-main">

  <!--================ Hero banner start =================-->
  <section class="hero-banner">
    <div class="container">
      <div class="row no-gutters align-items-center pt-60px">
        <div class="col-5 d-none d-sm-block">
          <div class="hero-banner__img">
            <img class="img-fluid" src="{% static '/aroma/img/home/hero-banner.png' %}" alt="">
          </div>
        </div>
        <div class="col-sm-7 col-lg-6 offset-lg-1 pl-4 pl-md-5 pl-lg-0">
          <div class="hero-banner__content">
            <h4>Shop is fun</h4>
            <h1>Browse Our Premium Product</h1>
            <p>These are the products or packages of products that our algorithm has determined to be among the best.
            </p>
            <a class="button button-hero" href="{% url 'category' %}">Browse Now</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--================ Hero banner start =================-->


  <!--================ Hero Carousel start =================-->
  <section class="section-margin mt-0">
    <div class="owl-carousel owl-theme hero-carousel">
      <div class="hero-carousel__slide">
        <img src="{% static '/aroma/img/home/hero-slide1.png' %}" alt="" class="img-fluid">
        <div>
          <h3>About Sand</h3>
          <p>The best sand in the world</p>
        </div>
      </div>
      <div class="hero-carousel__slide">
        <img src="{% static '/aroma/img/home/hero-slide2.png' %}" alt="" class="img-fluid">
        <div>
          <h3>About Steel</h3>
          <p>Stainless steel</p>
        </div>
      </div>
      <div class="hero-carousel__slide">
        <img src="{% static '/aroma/img/home/hero-slide3.png' %}" alt="" class="img-fluid">
        <div>
          <h3>About Wood</h3>
          <p>Quality timber direct from Canada</p>
        </div>
      </div>
    </div>
  </section>
  <section class="section-margin calc-60px">
    <div class="container">
      <div class="section-intro pb-60px">
        <p>Popular Item in the market</p>
        <h2>Main <span class="section-intro__style">Product</span></h2>
      </div>
      <div class="row">
        <div class="col-md-6 col-lg-4 col-xl-3">
          <div class="card text-center card-product">
            <div class="card-product__img">
              <img class="card-img" src="{% static '/aroma/img/product/product11.png' %}" alt="">
              <ul class="card-product__imgOverlay">
                <li><button><i class="ti-search"></i></button></li>
                <li><button><i class="ti-shopping-cart"></i></button></li>
                <li><button><i class="ti-heart"></i></button></li>
              </ul>
            </div>
            <div class="card-body">
              <p>Cement</p>
              <h4 class="card-product__title"><a href="{% static '/aroma/single-product.html' %}">Euro Cement</a></h4>
              <p class="card-product__price">360 som</p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 col-xl-3">
          <div class="card text-center card-product">
            <div class="card-product__img">
              <img class="card-img" src="{% static '/aroma/img/product/product22.png' %}" alt="">
              <ul class="card-product__imgOverlay">
                <li><button><i class="ti-search"></i></button></li>
                <li><button><i class="ti-shopping-cart"></i></button></li>
                <li><button><i class="ti-heart"></i></button></li>
              </ul>
            </div>
            <div class="card-body">
              <p>Wood</p>
              <h4 class="card-product__title"><a href="{% static '/aroma/single-product.html' %}">Reiks 5х2.5х4м</a></h4>
              <p class="card-product__price">22 som/m</p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 col-xl-3">
          <div class="card text-center card-product">
            <div class="card-product__img">
              <img class="card-img" src="{% static '/aroma/img/product/product33.png' %}" alt="">
              <ul class="card-product__imgOverlay">
                <li><button><i class="ti-search"></i></button></li>
                <li><button><i class="ti-shopping-cart"></i></button></li>
                <li><button><i class="ti-heart"></i></button></li>
              </ul>
            </div>
            <div class="card-body">
              <p>Household products</p>
              <h4 class="card-product__title"><a href="{% static '/aroma/single-product.html' %}">Starter pack</a></h4>
              <p class="card-product__price">1250 som</p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 col-xl-3">
          <div class="card text-center card-product">
            <div class="card-product__img">
              <img class="card-img" src="{% static '/aroma/img/product/product44.png' %}" alt="">
              <ul class="card-product__imgOverlay">
                <li><button><i class="ti-search"></i></button></li>
                <li><button><i class="ti-shopping-cart"></i></button></li>
                <li><button><i class="ti-heart"></i></button></li>
              </ul>
            </div>
            <div class="card-body">
              <p>Consumable</p>
              <h4 class="card-product__title"><a href="{% static '/aroma/single-product.html' %}">Starter pack</a></h4>
              <p class="card-product__price">1990 som</p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 col-xl-3">
          <div class="card text-center card-product">
            <div class="card-product__img">
              <img class="card-img" src="{% static '/aroma/img/product/product55.png' %}" alt="">
              <ul class="card-product__imgOverlay">
                <li><button><i class="ti-search"></i></button></li>
  {%endblock%}